@import '../../../styles/variables';
@import '../../../styles/mixins';

.code{
    display: flex;
    padding: 1em;
    >div{
        width: 50%;
    }
    .left-container{
        img{width:32%;}
        .subheader{
            color: $blue;
        }
        span{
            color: $blue;
            font-size: x-large;
            font-weight: 700;
        }
    }
    .right-container{
        img{width: 60%;}
    }

    @include md{
        flex-direction: column;
        >div{
            width: 100%;
        }
    }

    @include section-margin;
}