$blue: #6B97BD;
$white: #F5F7F7;
$orange: #d68c48;
$black: #2C2626;

$portfolio_sweetandsassybakery: #B23257;
$portfolio_downtownaquarium: #1569B0;

$phone: 320px;
$tablet: 768px;
$desktop-narrow: 1024px;
$desktop: 1200px;
$desktop-wide: 1400px;
